# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\桌面\学科\2021-1\软件架构springboot实战\实验5_张钧泽_31801087\L05Error\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
